<template>
  <v-snackbar
    v-model="snackbar"
    :timeout="timeout"
  >
    {{ message }}
    <v-btn
      color="pink"
      text
      @click="snackbar = false"
    >
      Close
    </v-btn>
  </v-snackbar>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({})
export default class Snackbar extends Vue {
  public snackbar: boolean = false;
  public message: string = 'message';
  public timeout: number = 5000;

  public showSnackbar(message: string, timeout: number = 5000): void {
    this.message = message;
    this.snackbar = true;
    this.timeout = timeout;
  }

  public mounted(): void {
    this.$root.$on('showSnackbar', this.showSnackbar);
  }
}
</script>

