<template>
  <v-app>

    <v-navigation-drawer
      v-model="drawer"
      app
      temporary
      absolute
    >
      <v-list-item @click="goToProfile()">
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/men/78.jpg" />
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>Jan Kowalski</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider />
      <v-list dense>
        <v-list-item @click="$router.push('/map');drawer=false">
          <v-list-item-action>
            <v-icon>dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Map</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="$router.push('/chats');drawer=false">
          <v-list-item-action>
            <v-icon>chat</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Chats</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="$router.push('/settings');drawer=false">
          <v-list-item-action>
            <v-icon>settings</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      app
      color="primary"
    >
      <v-app-bar-nav-icon
        v-if="isLogged"
        dark
        @click.stop="drawer = !drawer"
        class="pr-0"
      />
      <v-toolbar-title  centered style="color: white; width: 90%; text-align: center;padding-left:0;padding-right:7px">
        mapchat
      </v-toolbar-title>
       <v-icon  dark v-if="isLogged"
        @click="logOut">
         power_settings_new
       </v-icon>
    </v-app-bar>
    <v-content>
      <router-view />
    </v-content>
    <Snackbar />
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Snackbar from '@/components/Snackbar.vue';
import Component from 'vue-class-component';

@Component({
  components: {
    Snackbar,
  },
})
export default class App extends Vue {
  public drawer: boolean = false;

  get showNav(): boolean {
    return this.$route.name === 'presentation' ||
      this.$store.getters.getLogged === false
      ? false
      : true;
  }

  get isLogged(): boolean {
    return this.$store.getters.getIsLogged;
  }

  public logOut(): void {
    this.$store.commit('logOut');
    this.$router.push({name: 'login'});
  }

  public mounted(): void {
    this.$socket.client.emit('status', 'PING!');
  }

  public goToProfile() {
    this.$store.commit('setProfileData', this.$store.getters.getUser);
    this.$router.push('/profile');
  }
}
</script>

<style lang="scss">
html {
  overflow-y: hidden !important;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar:hover ::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(96, 125, 139, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(96, 125, 139, 0.5);
  width: 12px;
}
</style>
