<template>
  <v-container
    class="fill-height pt-0 chats"
    fluid
  >
    <v-row
      style="height: 100%"
      align="center"
      justify="center"
    >
      <v-col
        cols="12"
        xs="12"
        style="height: 100%"
      >
        <!-- <v-toolbar
            color="primary"
            dark
            flat
          > -->
        <v-toolbar-title>Chats</v-toolbar-title>
        <!-- </v-toolbar> -->
        <v-list
          three-line
          class="chats__list"
        >
          <template v-for="(item, index) in items">

            <v-divider
              v-if="item.divider"
              :key="index"
              :inset="item.inset"
            ></v-divider>

            <v-list-item
              v-else
              :key="item.title"
              @click="selectUser(item)"
            >
              <v-list-item-avatar>
                <v-img :src="item.avatar"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title v-html="item.title"></v-list-item-title>
                <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({})
export default class Chats extends Vue {
  // To jest obiekt, który jest budowany w mounted żeby były ładne przerwy
  public items: object[] = [];
  // To jest z API
  // public chats: object[] = [
  //   {
  //     id: 1,
  //     avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
  //     title: 'Jan Kowalski',
  //     subtitle:
  //       'I\'ll be in your neighborhood doing errands this weekend. Do you want to hang out?',
  //   },
  //   {
  //     id: 2,
  //     avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
  //     title: 'Marek Nowak',
  //     subtitle: 'Wish I could come, but I\'m out of town this weekend.',
  //   },
  //   {
  //     id: 3,
  //     avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
  //     title: 'Katarzyna Żuber',
  //     subtitle: 'Do you have Paris recommendations? Have you ever been?',
  //   },
  //   {
  //     id: 4,
  //     avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
  //     title: 'Mateusz Parsęta',
  //     subtitle: 'Do you have Parisaa recommendations? Have you ever been?',
  //   },
  //   {
  //     id: 5,
  //     avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
  //     title: 'Karina Klopczyńska',
  //     subtitle: 'Do you have Parisaa recommendations? Have you ever been?',
  //   },
  //   {
  //     id: 6,
  //     avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
  //     title: 'Kamil Korczyński',
  //     subtitle: 'Do you have Parisaa recommendations? Have you ever been?',
  //   },
  //   {
  //     id: 7,
  //     avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
  //     title: 'Marcin Bakłak',
  //     subtitle: 'Do you have Parisaa recommendations? Have you ever been?',
  //   },
  //   {
  //     id: 8,
  //     avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
  //     title: 'Adam Sieakowski',
  //     subtitle: 'Do you have Parisaa recommendations? Have you ever been?',
  //   },
  // ];
  // Wybranie usera
  public selectUser(user: any): void {
    this.$router.push(`/chat/${user.id}`);
  }
  // Budowanie listy userów
  public mounted(): void {
    this.$socket.client.emit('get/chats', {}, (chatsData: any) => {
      for (const [idx, chat] of chatsData.data.entries()) {
        this.items.push({
          id: chat.user2,
          title: chat.title,
          subtitle: chat.subtitle,
          avatar: `https://cdn.vuetifyjs.com/images/lists/${chat.user2 === 2 ? 3 : chat.user2 - 1}.jpg`,
        });
        if (idx < chatsData.data.length - 1) {
          this.items.push({ divider: true, inset: true });
        }
      }
    });
  }
}
</script>

<style lang="scss">
.theme--light.v-list {
  background: none !important;
}
.chats__list {
  // overflow-y: auto !important;
  height: 100vh;
}
.v-content__wrap {
  overflow-y: auto !important;
  height: calc(100vh - 53px) !important;
}
</style>