<template>
  <v-container
    fill-height
    fluid
    class="container__wrapper chat"
  >
    <v-row class="row__wrapper">
      <v-col
        cols="12"
        xs="12"
        class="pt-0"
      >
        <v-col class="pt-0">
          <v-row
            v-if="user"
            class="user__bar pt-0"
          >
            <v-icon @click="$router.push('/chats')">
              arrow_back
            </v-icon>
            <v-avatar class="chat__avatar" v-if="user && user.avatar">
              <img
                :src="user.avatar"
                alt="avatar"
              >
            </v-avatar>
            {{user.title}}

          </v-row>
        </v-col>
        <v-col
          ref="chat__section"
          class="chat__section pb-0"
        >
          <v-row>
            <v-col
              xs="12"
              ref="chat__wrapper"
              class="chat__wrapper pb-0 mr-1 ml-1"
            >
              <v-row
                class="mb-1"
                :class="{'float--right': message.owner === 1}"
                :key="idx"
                v-for="(message, idx) in conversation"
              >
                <div
                  class="message__text"
                  @click="setClickedMessageIndex(idx)"
                >
                  {{message.text}}
                </div>
                <span
                  v-show="clickedMessageIndex === idx"
                  class="message__date ml-1 mr-1"
                >
                  {{message.time}}
                </span>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
        <v-col
          class="keyboard__section mt-4 pb-0"
          style="position: relative"
        >
          <div class="translate__checkbox">
            <v-icon class="">
              translate
            </v-icon>
            <v-checkbox
              small
              hide-details
              v-model="isTranslate"
            >
            </v-checkbox>
          </div>
          <v-icon
            class="chat__icon--send"
            @click="sendMessage()"
          >
            send
          </v-icon>
          <v-row>
            <v-textarea
              label="Message..."
              hide-details
              solo
              v-model="message"
              outlined
              autofocus
              @keyup.enter.exact="sendMessage()"
            >
            </v-textarea>
          </v-row>
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Watch } from 'vue-property-decorator';

@Component({})
export default class Chat extends Vue {
  public test: string = 'test';
  public clickedMessageIndex: number | null = null;
  public users: object[] = [];
  public isTranslate: boolean = false;

  public message: string = '';

  public conversation: object[] = [
    /* { text: 'aaaaaaa', owner: 1, time: new Date().toLocaleString('pl') },
    { text: 'bbbbbb', owner: 2, time: new Date().toLocaleString('pl') },
    { text: 'cccccccc', owner: 1, time: new Date().toLocaleString('pl') },
    { text: 'aaaaaaa', owner: 1, time: new Date().toLocaleString('pl') },
    { text: 'bbbbbb', owner: 2, time: new Date().toLocaleString('pl') },
    { text: 'cccccccc', owner: 1, time: new Date().toLocaleString('pl') },
    { text: 'aaaaaaa', owner: 1, time: new Date().toLocaleString('pl') },
    { text: 'bbbbbb', owner: 2, time: new Date().toLocaleString('pl') },
    { text: 'cccccccc', owner: 1, time: new Date().toLocaleString('pl') }, */
  ];

  // public user: object = {
  //   id: 1,
  //   avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
  //   title: 'Jan Kowalski',
  //   subtitle:
  //     'I\'ll be in your neighborhood doing errands this weekend. Do you want to hang out?',
  // };

  get user(): object | undefined {
    return this.users.find(
      (user: any) => Number(user.id) === Number(this.$route.params.id),
    );
  }

  public sendMessage() {
    if (/\S/.test(this.message)) {
      if (this.isTranslate) {
        this.$socket.client.emit(
          'post/message',
          {
            user_id: this.$route.params.id,
            content: this.message,
            user_language: 'en',
            translate: this.isTranslate,
          },
          (message: any) => {
            this.conversation.push({
              text: message.data,
              owner: 1,
              time: new Date().toLocaleString('pl'),
            });
            this.message = '';
            this.$nextTick(() => {
              // @ts-ignore
              this.$refs.chat__wrapper.lastChild.scrollIntoView();
            });
          },
        );
      } else {
        this.$socket.client.emit('post/message', {
          user_id: this.$route.params.id,
          content: this.message,
          user_language: 'en',
          translate: this.isTranslate,
        });
        this.conversation.push({
          text: this.message,
          owner: 1,
          time: new Date().toLocaleString('pl'),
        });
        this.message = '';
        this.$nextTick(() => {
          // @ts-ignore
          this.$refs.chat__wrapper.lastChild.scrollIntoView();
        });
      }
    }
  }

  public setClickedMessageIndex(idx: number) {
    if (idx === this.clickedMessageIndex) {
      this.clickedMessageIndex = null;
    } else {
      this.clickedMessageIndex = idx;
    }
  }

  // Budowanie listy userów
  public mounted(): void {
    this.$socket.client.emit(
      'get/messages',
      { user_id: this.$route.params.id },
      (messagesData: any) => {
        for (const [idx, chat] of messagesData.data.entries()) {
          const [date, time] = chat.created_date.split(' ');
          const [day, month, year] = date.split('-');
          const [hour, minutes] = time.split(':');
          const datePL = new Date(
            year,
            month - 1,
            day,
            hour,
            minutes,
          ).toLocaleString('pl');
          this.conversation.push({
            text: chat.content,
            owner: chat.owner,
            time: datePL,
          });
        }
        setTimeout(() => {
          // @ts-ignore
          this.$refs.chat__wrapper.lastChild.scrollIntoView();
        }, 0);
        this.$socket.client.on('response_message', (message: any) => {
          this.conversation.push({
            text: message.content,
            user_id: this.$route.params.id,
          });
        });
      },
    );
    this.$socket.client.emit('get/chats', {}, (chatsData: any) => {
      for (const [idx, chat] of chatsData.data.entries()) {
        this.users.push({
          id: chat.user2,
          title: chat.title,
          subtitle: chat.subtitle,
          avatar: `https://cdn.vuetifyjs.com/images/lists/${chat.user2}.jpg`,
        });
        if (idx < chatsData.data.length - 1) {
          this.users.push({ divider: true, inset: true });
        }
      }
    });
  }
}
</script>

<style lang="scss" >
.row__wrapper {
  height: inherit;
}
.user__bar {
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.chat__section {
  height: calc(100vh - 280px);
  overflow-y: auto;
  .message__date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.6em + 0.2vw);
    color: grey;
  }
  .message__text {
    background-color: lightgray;
    border-radius: 10px;
    padding: 15px;
    max-width: 65vw;
    word-wrap: break-word;
  }
}
// .chat .v-content__wrap {
//     overflow-y: auto;
//     height: calc(100% - 53px) !important;
// }
.float--right {
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.chat__icon--send {
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 55px;
  font-size: 35px;
}
.translate__checkbox {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  z-index: 99;
  right: 0;
  bottom: 5px;
}
.v-input--selection-controls {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.chat__avatar {
      margin-right: 10px;
    margin-left: 10px
}
</style>