<template>
  <v-container
    class="fill-height"
    fluid
  >
    <v-row
      align="center"
      justify="center"
    >
      <v-col
        cols="12"
        sm="8"
        md="4"
      >
        <v-card class="elevation-12">
          <v-toolbar
            color="primary"
            dark
            flat
          >
            <v-toolbar-title>MapChat</v-toolbar-title>
            <div class="flex-grow-1" />
          </v-toolbar>
          <v-progress-linear
            v-show="loading"
            :active="loading"
            color="primary"
            :indeterminate="true"
            class="ma-0 pt-1"
            height="3"
          />
          <v-card-text>
            <v-form>
              <v-text-field
                v-model="email"
                label="Email"
                prepend-icon="person"
                type="text"
              />

              <v-text-field
                v-model="password"
                label="Password"
                prepend-icon="lock"
                type="password"
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <div class="flex-grow-1" />
            <v-btn
              color="primary"
              @click="logIn"
            >
              Sign in
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({})
export default class Login extends Vue {
  public email: string = 'admin';
  public password: string = 'admin';
  public loading: boolean = false;

  public logIn() {
    const auth = {
      email: this.email,
      password: this.password,
    };
    this.loading = true;

    this.$store
      .dispatch('logIn', auth)
      .then(() => {
        this.loading = false;
        this.$router.push({ name: 'map' });
        this.$root.$emit('showSnackbar', 'Success');
      })
      .catch(() => {
        this.loading = false;
        this.$root.$emit('showSnackbar', 'Fail');
      });
  }
}
</script>