<template>
  <div
    ref='map'
    class='map'
  >
    <div
      id='popup'
      class='ol-popup'
    >
      <a
        href='#'
        id='popup-closer'
        class='ol-popup-closer'
      ></a>
      <div id='popup-content'>
        <div class='popup'>
          <div class='popup__header'>
            {{user.username}}
          </div>
          <div class='popup__body'>

            Mother tongue: <img src="https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg" style="height:15%;width:15%"> <br>
            <span style="color: grey">{{user.description}}</span>
          </div>
          <div class='popup__footer'>
            <v-icon
              color='primary'
              @click='startChat()'
            >
              chat
            </v-icon>
            <v-icon
              color='primary'
              @click='showProfile()'
            >
              person
            </v-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import Component from 'vue-class-component';
import Map from 'ol/Map.js';
import View from 'ol/View.js';
import TileLayer from 'ol/layer/Tile.js';
import XYZ from 'ol/source/XYZ';
import VectorLayer from 'ol/layer/Vector';
import VectorSource from 'ol/source/Vector';
import GeoJSON from 'ol/format/GeoJSON';
import { Point } from 'ol/geom.js';
import { Style, Stroke, Fill, Circle, Icon, IconImage } from 'ol/style';
import BaseLayer from 'ol/layer/Base';
import Feature from 'ol/Feature';
import Overlay from 'ol/Overlay.js';

@Component({})
export default class MapGlobal extends Vue {
  public map: Map | undefined = undefined;
  public userLocated: boolean = false;
  public user: any = {
    id: null,
  };
  public langsDict: object = {
    pl: 'polish',
    en: 'english',
    de: 'german',
    ch: 'chinese',
    ru: 'russian',
    fr: 'french',
  };

  get lang(): string {
    // @ts-ignore
    return this.langsDict[this.user.languages];
  }

  public addUserPosition(lat: number, lng: number): void {
    const feature = new GeoJSON().readFeature(
      { type: 'Point', coordinates: [lng, lat] },
      {
        featureProjection: 'EPSG:3857',
        dataProjection: 'EPSG:4326',
      },
    );
    feature.set('id', 'self');
    if (this.map !== undefined) {
      const layer = new VectorLayer({
        source: new VectorSource({
          features: [feature],
        }),
        style: new Style({
          image: new Circle({
            fill: new Fill({
              color: 'rgba(0, 110, 83, 0.2)',
            }),
            stroke: new Stroke({
              color: '#006e53',
              width: 2,
            }),
            radius: 4,
          }),
        }),
      });
      layer.set('name', 'user');
      this.map.addLayer(layer);
      this.userLocated = true;
    }
  }

  public setUserPosition(lat: number, lng: number): void {
    const featureNew = new GeoJSON().readFeature(
      { type: 'Point', coordinates: [lng, lat] },
      {
        featureProjection: 'EPSG:3857',
        dataProjection: 'EPSG:4326',
      },
    );
    (this.getLayerByName('user') as VectorLayer)
      .getSource()
      .getFeatures()
      .forEach((feature: Feature) => {
        if (feature.get('id') === 'self') {
          feature.setGeometry(featureNew.getGeometry());
        }
      });
  }

  public addFriendPosition(user: any): void {
    const feature = new GeoJSON().readFeature(
      { type: 'Point', coordinates: [user.lng, user.lat] },
      {
        featureProjection: 'EPSG:3857',
        dataProjection: 'EPSG:4326',
      },
    );
    feature.set('id', user.id);
    feature.set('username', user.name);
    feature.set('description', user.description);
    feature.set('languages', user.languages);
    (this.getLayerByName('friends') as VectorLayer)
      .getSource()
      .addFeature(feature);
  }

  public startChat() {
    // @ts-ignore
    this.$router.push(`/chat/${this.user.id}`);
  }

  public showProfile() {
    this.$store.commit('setProfileData', this.user);
    // @ts-ignore
    this.$router.push({ path: `/profile/${this.user.id}` });
  }

  public setFriendPosition(id: number, lat: number, lng: number): void {
    const featureNew = new GeoJSON().readFeature(
      { type: 'Point', coordinates: [lng, lat] },
      {
        featureProjection: 'EPSG:3857',
        dataProjection: 'EPSG:4326',
      },
    );
    (this.getLayerByName('friends') as VectorLayer)
      .getSource()
      .getFeatures()
      .forEach((feature: Feature) => {
        if (feature.get('id') === id) {
          feature.setGeometry(featureNew.getGeometry());
        }
      });
  }

  public getUsersPositions(): void {
    this.$socket.client.emit('get/users', {}, (usersData: any) => {
      // this.$store.commit('setUsers', usersData);
      for (const user of usersData.data) {
        this.addFriendPosition({
          id: user.id,
          lat: user.lat,
          lng: user.lng,
          name: user.username,
          description: user.description,
          languages: user.languages,
        });
      }
      this.$socket.client.on('geom_updated', (userObject: any) => {
        this.setFriendPosition(userObject.user_id, userObject.lat, userObject.lng);
      });
    });
  }

  public getLayerByName(name: string): BaseLayer | undefined {
    if (this.map) {
      return this.map
        .getLayers()
        .getArray()
        .find((l) => {
          return l.get('name') === name;
        });
    } else {
      return undefined;
    }
  }

  public friendsStyle(feature: Feature): Style[] {
    return [
      new Style({
        image: new Icon({
          src: require(`@/assets/${feature.get('id')}.png`),
          scale: 0.3,
        }),
      }),
    ];
  }

  public mounted(): void {
    const friendsLayer = new VectorLayer({
      source: new VectorSource(),
      // @ts-ignore
      style: this.friendsStyle as Style[],
    });
    friendsLayer.set('name', 'friends');
    const overlay = new Overlay({
      element: document.getElementById('popup') as HTMLElement,
      autoPan: true,
      autoPanAnimation: {
        duration: 250,
      },
    });
    this.map = new Map({
      layers: [
        new TileLayer({
          source: new XYZ({
            url:
              'https://api.maptiler.com/maps/positron/{z}/{x}/{y}.png?key=bIeXO7XubBX0rAV6FaLo',
          }),
        }),
        friendsLayer,
      ],
      target: this.$refs.map as HTMLElement,
      view: new View({
        center: [2125046.808599371, 6790039.975110838],
        zoom: 5,
        minZoom: 5,
      }),
      overlays: [overlay],
    });
    this.map.on('singleclick', (evt: any) => {
      let featureClick;
      evt.map.forEachFeatureAtPixel(evt.pixel, (feature: Feature) => {
        featureClick = feature;
      });
      // @ts-ignore
      if (featureClick && featureClick.get('id') !== 'self') {
        const coordinate = evt.coordinate;
        // @ts-ignore
        this.user = featureClick.getProperties();
        overlay.setPosition(coordinate);
      } else {
        overlay.setPosition(undefined);
      }
    });
    const closer = document.getElementById('popup-closer') as HTMLElement;
    closer.onclick = () => {
      overlay.setPosition(undefined);
      closer.blur();
      return false;
    };
    // @ts-ignore
    this.$watchLocation({
      enableHighAccuracy: true,
    }).then((coordinates: any) => {
      if (!this.userLocated) {
        this.addUserPosition(coordinates.lat, coordinates.lng);
      } else {
        this.setUserPosition(coordinates.lat, coordinates.lng);
      }
    });
    this.getUsersPositions();
  }
}
</script>

<style lang='scss'>
.map {
  width: 100%;
  height: 100%;
}
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  // padding: 15px;
  border-radius: 10px;
  // border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 220px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
  color: white;
}
.popup__header {
  background-color: #607D8B;
  color: white;
  padding: 0 5px 0 5px;
  border-radius: 10px 10px 0 0;
}
.popup__body {
  padding: 0 5px 0 5px;
}
</style>
