<template>
  <v-container
    fill-height
    fluid
  >
    <v-row class="profile">
      <v-col
        cols="12"
        xs="12"
      >
        <v-row class="profile__avatar centered">
          <v-avatar>
            <img
              src="https://randomuser.me/api/portraits/men/78.jpg"
              alt="avatar"
            >
          </v-avatar>
        </v-row>
        <v-row class="profile__name centered">
          {{user.username}}
        </v-row>
        <v-row class="profile__info">
          <v-col cols="12" xs="12" md="6">
            <v-text-field label="Native language" v-model="lang">
            </v-text-field>
          </v-col>
          <v-col cols="12" xs="12" md="6">
            <v-text-field label="Description" v-model="user.description">
            </v-text-field>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Watch, Prop } from 'vue-property-decorator';

@Component({})
export default class Profile extends Vue {

  public langsDict: object = {
    pl: 'polish',
    en: 'english',
    de: 'german',
    ch: 'chinese',
    ru: 'russian',
  };
  get lang(): string {
    // @ts-ignore
    return this.langsDict[this.user.lang];
  }

  get user(): object {
    return this.$store.getters.getProfileData;
  }
}
</script>

<style lang="scss" >
.centered {
  justify-content: center;
}

.profile {
  height: 100%;
}
</style>